.sidebar_wrapper {
    background-color: rgb(241, 241, 241);
    width: 300px;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.time_range {
    width:95%;
    justify-content: center;
    gap: 3px;
}

.padding {
    margin-top: -10px;
    margin-left:-10px;
    margin-right:-10px;
}

.hr {
    margin-top: 2px;
    border: 0.5px solid rgb(183, 183, 183);
    width: 80%;
}

.query-msg {
    min-height: 2vh;
    font-size: x-small;
    margin: 0;
}

.header_wrapper {
    width: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(255, 222, 122);
}

.title-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}