.sidebar_wrapper {
    background-color: rgb(223, 244, 246);
    width: 25%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 4px; */
}

.title_container {
    background-color:  rgb(255, 222, 122);
    width: 100%;
    height:10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 0;
    font-size: larger;
    font-weight: bold;
}

.row_wrapper {
    background-color: rgb(223, 244, 246);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.half_column_wrapper {
    background-color: rgb(223, 244, 246);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 52%;
    gap: 12px;
}

.pred_value {
    background-color: rgb(223, 244, 246);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    gap: 12px;
}

.padding {
    margin-top: 12px;
}

.data_controls {
    background-color: rgb(223, 244, 246);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}