.tabs_wrapper {
  width: 100%;
  height: 50%;
  background-color: white;
  color: black;
  position: relative; 
}

.page_wrapper {
  height: 85%;
  width: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.tabpanel {
  width: 100%;
  height: 100%;    
}

.raster_data {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no_content {
  margin-top: 3vh;
  text-align: center;
  font-size: larger;
}

.raster_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.raster_info {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}