.time_series {
  width: 100%; 
  height: 100%;   
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly;  
  align-items: center;
  align-content: center;
  margin-top: 4px;  
  flex-basis: auto;
}

.ts_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.ts_plot {
  text-align: center;
  flex-grow: 6;
}

.ts_plotly {
  width: 100%;
  height: 240px;  
  max-width: 90%;
}

