#root {
  text-align: center;

}

.main_wrapper {
  display: flex;
  flex-direction: row;
  height: 90vh; /* Full screen height */
  justify-content: center;
  align-items: center;
}

.main_content {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content vertically and horizontally */
}